html
  head
    //- link(rel='stylesheet' href='' type='text/css' )
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')

    title= title
  body
    div.container
      h3 Hello, #{result[0].username}, welcome back!
      input(
        class='pull-right'
        id='txtSearch'
        type='text' 
        name='txtSearch'
        placeholder="Filter").form-control
    div(class='col-md-12')
      h4 Your expenses for this #{time}
      table.table.table-hover#tblSearch.table-striped
        thead
          tr
            th Items
            th Category
            th Amount
            th Date
        tbody#tbody
          each res in result
            tr
                td= res.item
                td= res.category
                td= res.amount
                td= res.date.toDateString()



    script.
      $(document).ready(function(){
        $("#txtSearch").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#tbody tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
